
.body-page {
    display: none;
    height: calc(100% - 35px);
}

.body-active {
    display: flex;
}

.home-body {
    width: 100%;
    position: relative;

    flex-direction: row;
    align-items: center;

    color: var(--text);
    font-family: JetBrains Mono,monospace;
    padding-left: 50px;
}

.home-body h1{
    font-size: 48px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.left,
.right {
    display: flex;
    flex-direction: column;
    width: 50%
}

.skills-header {
    margin-bottom: 1rem;
}

.skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
}

.skill {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    width: fit-content;

    font-size: 0.8rem;
    border-radius: 2rem;
    margin: 0.2rem;
}
.skill:hover {
    cursor: pointer;
}

.Python:hover {
    background-color: #ff000077
}
.PyTorch:hover {
    background-color: #ffa50077; 
}
.React:hover {
    background-color: #ffff0077; 
}
.HTML:hover {
    background-color: #00ff0077; 
}
.JavaScript:hover {
    background-color: #0000ff77; 
}
.CSS:hover{
    background-color: #ee82ee77; 
}
.C:hover {
    background-color: #87ceeb77; 
}
.Machine:hover {
    background-color: #80008077; 
}
.AI:hover {
    background-color: #00fff277; 
}

.image {
    height: 500px;
    width: 500px;
    padding: 0;
    overflow: hidden;
    object-fit: cover;
    object-position: 0% 0%;
    border-radius: 50%;

    border: 10px solid purple;
}

.contact-body {
    flex-direction: column;
    padding: 1rem;
}
.contact-header {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--text);
}

.code-line {
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    color: var(--text);
}

.code-line a {
    text-decoration: none;
}

.code-line a:hover {
    text-decoration: underline;
}

.line-number {
    color: #efefef77;
    margin-right: 1.5rem;
}

.line-content {
    color: var(--text);
}

.about-body {
    flex-direction: column;
    padding: 2rem;
    color: var(--text);
    overflow-y: auto;
}

#jeremy-cavallo {
    padding: 1rem 0 1rem 0;
    border-bottom:1px solid var(--text_alpha);
    margin-bottom: 2rem;
}

.about-body h2 {
    padding: 1rem 0 1rem 0;
    border-bottom: 1px solid var(--text_alpha);
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-body ul {
    margin-left: 2rem;
    line-height: 1.5rem;
}

.about-body li {
    margin-bottom: 0.2rem;
}

.projects-body {
    flex-direction: column;
    color: var(--text);
    padding: 2rem;
    justify-content: center;
    gap: 2rem
}

.github-body {
    flex-direction: column;
    color: var(--text);
    padding: 2rem;
    justify-content: center;
    gap: 2rem
}

.settings-body {
    flex-direction: column;
    color: var(--text);
    padding: 2rem;
    justify-content: center;
    gap: 2rem   
}

.github-graph-container {
    height: 100px;
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media screen and (max-width: 1100px) {
    .home-body {
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
    }

    .main-text {
        text-align: center;
    }

    .left,
    .right {
        align-items: center;
    }

    .skills-container {
        justify-content: center;
        width: 100%;
    }

    .image-container {
        margin-top: 1rem;
    }

}

@media screen and (max-width: 1470px) {
    .image {
        height: 250px;
        width: 250px;
        padding: 0;
        overflow: hidden;
        object-fit: cover;
        object-position: 0% 0%;
        border-radius: 50%;
    
        border: 10px solid purple;
    }

}

@media screen and (max-width: 830px) {
    .code-line {
        font-size: 1rem;
    }

}

