* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("images/adrien-olichon-_GH9LwhlSO4-unsplash.jpg");
    background-size: cover;
}

.Contact-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Header {
    font-size: 2rem;
    color: white;
}

form {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    width: min(90%, 500px);
}

#name,
#email,
#message,
#submit {
    font-size: 1.5rem;
    width: 100%;
    font-family: "times new roman";
    border: none;
    background-color: white;
    padding: 0.2rem;
}

form > * {
    margin-bottom: 1rem;
}

#submit:hover {
    cursor: pointer;
    background-color: lightgrey;
}
