* {
    margin: 0;
    padding: 0;
}

#Home,
#About,
#Portfolio,
#Contact {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.toggle-mobile-menu {
    display: flex;
    position: absolute;
    top: 10px;
    left: 10px;
    height: 40px;
    width: 40px;
    opacity: 60%;
}

.Mobile-Menu {
    display: none;
    flex-direction: column;
    background-color: transparent;
    width: 40%;
    position: absolute;
    top: 55px;
    left: 10px;
    opacity: 60%;
}

.active {
    display: flex;
}

.Mobile-Menu button {
    background-color: white;
    border: none;
    padding: 0.5rem;
    font-family: "times new roman";
}

#Home-Mobile {
    border-top-right-radius: 10px;
}

#Contact-Mobile {
    border-bottom-left-radius: 10px;
}

.Top-Gradient {
    height: 5vh;
    width: 100%;
    background-image: linear-gradient(to right, #0b2c48, #145da0, #0b2c48);
}

.Header {
    text-align: center;
    height: 95vh;
    width: 100%;
    background-color: black;
    background-size: cover;
    color: #145da0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.name-container {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
}

.j-container,
.c-container {
    position: relative;
    display: flex;
    flex-direction: row;
}

.c-container {
    margin-top: -10%;
    margin-left: 10%;
}

#J,
#C {
    position: relative;
    font-family: "Magneto";
    font-size: 8rem;
}

#eremy,
#avallo {
    position: relative;
    font-family: "Magneto";
    font-size: 3rem;
}

#J {
    top: 0;
    left: 0;
    animation: J-Animation;
    animation-duration: 1s;
    animation-timing-function: linear;
}
#eremy {
    margin-top: 1rem;
    animation: Text-Fade-In;
    animation-duration: 3s;
}

#C {
    top: 0;
    left: 0;
    animation: C-Animation;
    animation-duration: 1s;
    animation-timing-function: linear;
}

#avallo {
    margin-top: 4rem;
    animation: Text-Fade-In;
    animation-duration: 3s;
}

#Down-Arrow {
    position: absolute;
    height: 80px;
    bottom: 3rem;
    animation: Button-Fade-In;
    animation-duration: 4s;
    opacity: 0.6;
}

#Down-Arrow:hover {
    cursor: pointer;
}

#Quick-Links {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.Image-Links {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.Image-Links img {
    width: 100%;
    max-width: 250px;
}

.Image-Links img:hover {
    cursor: pointer;
}

.About-Picture,
.Projects-Picture,
.Contact-Picture {
    padding-top: 1rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Quote {
    width: 100%;
    height: 300px;
    padding: 2rem 0 2rem 0;
    overflow: hidden;
    position: relative;
    background-color: #b1d4e0;
}

#Shown,
#Hidden {
    font-family: "Segoe Script";
    padding-bottom: 0.5rem;
    padding-left: 0.3rem;
    width: min(80%, 500px);
}

#Hidden {
    position: absolute;
    animation: New-Quote;
    animation-duration: 2s;
    animation-play-state: paused;
    display: block;
}

#Shown {
    position: absolute;
    transform: translateX(250%);
    animation: Old-Quote;
    animation-duration: 2s;
    animation-play-state: paused;
    display: block;
}

.Quote p {
    font-family: "Vladimir Script";
    font-size: 1.6rem;
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
}

.Footer {
    width: 100%;
    background-color: #145da0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
}

.Footer h3 {
    padding: 0.3rem;
}

.Footer h3:hover {
    cursor: pointer;
    color: #2e8bc0;
}

@media (min-width: 600px) {
    .Image-Links {
        flex-direction: row;
    }

    .toggle-mobile-menu {
        display: none;
    }

    #J,
    #C {
        position: relative;
        font-family: "Magneto";
        font-size: 10rem;
    }

    #eremy,
    #avallo {
        position: relative;
        font-family: "Magneto";
        font-size: 6rem;
    }

    .About-Picture,
    .Projects-Picture,
    .Contact-Picture {
        position: relative;
        display: flex;
        flex-direction: row;

        animation: Fade-In;
        animation-duration: 5s;
    }

    .About-Picture-Hover,
    .Projects-Picture-Hover,
    .Contact-Picture-Hover {
        opacity: 0;
        position: absolute;
        height: 70%;
        width: 90%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .About-Picture-Hover:hover,
    .Projects-Picture-Hover:hover,
    .Contact-Picture-Hover:hover {
        cursor: pointer;
        opacity: 0.8;
        background-color: #0c2d48;
    }

    .Header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 4rem;
    }

    .Left-Buttons {
        position: absolute;
        top: 10%;
        display: flex;
        flex-direction: row;
        height: 60px;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        opacity: 0.6;
        animation: Button-Fade-In;
        animation-duration: 4s;
    }

    .Left-Buttons button {
        color: white;
    }

    .Left-Buttons > * + * {
        margin-left: 3rem;
    }

    #Home,
    #About,
    #Portfolio,
    #Contact {
        display: flex;
        height: 100%;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
        padding: 5px;
        font-size: 1rem;
    }

    #Home:hover,
    #About:hover,
    #Portfolio:hover,
    #Contact:hover {
        cursor: pointer;
    }

    .Quote {
        margin-top: 8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #b1d4e0;
        height: 400px;
    }

    .Quote h3 {
        max-width: 500px;
        margin-top: 4rem;
        font-size: 2rem;
    }

    .Quote p {
        font-size: 1.8rem;
        bottom: 2rem;
    }

    .Footer {
        font-size: 1.5rem;
    }

    .Footer h3 {
        padding: 2rem;
        animation: Rotate;
        animation-duration: 2s;
    }
}
.js-loading *,
.js-loading *::after,
.js-loading *::before {
    animation-play-state: paused;
}

@keyframes Fade-In {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes Grow-In {
    from {
        font-size: 0px;
    }
    to {
        font-size: 3rem;
    }
}

@keyframes Button-Fade-In {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 0.6;
    }
}

@keyframes Text-Fade-In {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes J-Animation {
    0% {
        transform: translate(-500%, 25%) scale(100%);
    }
    75% {
        transform: translate(50%, 25%) scale(100%);
    }
    80% {
        transform: translate(50%, 25%) scale(50%);
    }
    100% {
        transform: translate(0) scale(100%);
    }
}

@keyframes C-Animation {
    0% {
        transform: translate(500%, -25%) scale(100%);
    }
    75% {
        transform: translate(25%, -25%) scale(100%);
    }
    80% {
        transform: translate(25%, -25%) scale(50%);
    }
    100% {
        transform: translate(0) scale(100%);
    }
}

@keyframes New-Quote {
    0% {
        transform: translateX(-300%);
    }
    50% {
        transform: translateX(-90%);
    }
    75% {
        transform: translateX(-115%);
    }
    100% {
        transform: translateX(0);
        display: block;
        animation-play-state: running;
    }
}

@keyframes Old-Quote {
    0% {
        transform: translateX(0);
        display: block;
    }
    80% {
        transform: translateX(0);
        display: block;
    }
    100% {
        transform: translateX(300%);
        display: none;
        animation-play-state: paused;
    }
}
