* {
    margin: 0;
    padding: 0;
}

:root {
    --animation-time: 0.5s;
    --dark-blue: #15131d;
    --light-blue: #145da0;
}

html {
    scroll-behavior: smooth;
}

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #15131d;
}

.header h1 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold";
    color: #145da0;
    font-size: 36px;
}

.nav-bar {
    height: 50px;
}

.nav-bar * {
    background-color: transparent;
    border: none;
    color: white;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold";
    padding: 0.5rem;
    text-decoration: none;
}

.nav-bar *:hover {
    border-bottom: 2px solid white;
    cursor: pointer;
}

.main-page {
    background-color: #15131d;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.main-page-container {
    position: relative;
    background-color: #15131d;
    width: min(90%, 500px);
}

.main-image {
    width: min(100%, 500px);
    height: min(75%, 375px);
}

.main-image img {
    width: 100%;
    border-radius: 50px;
}

.block {
    position: absolute;
    top: -2px;
    left: -1px;
    bottom: 0;
    width: calc(100% + 2px);
    border-radius: 50px;
    box-shadow: 0 0 40px 40px #15131d inset;
}

.about {
    height: 1400px;
    background-color: #15131d;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    overflow: hidden;
}

.about h1 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold";
    color: #145da0;
    font-size: 36px;
    width: min(90%, 800px);
}

.description {
    color: white;
    width: min(90%, 800px);
    margin-bottom: 3rem;
}

.description p {
    font-size: 20px;
    margin-bottom: 1rem;
}

.skills-carousel {
    position: relative;
    height: 500px;
    width: min(100%, 800px);
    display: flex;
    justify-content: center;
}

.skills {
    background-color: #15131d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem black;
    height: 400px;
    color: white;
    padding-top: 10%;
    width: min(70%, 400px);
}

.skills h2 {
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

.underline {
    width: 70%;
    height: 3px;
    background-color: red;
    margin: 1rem 0 1rem 0;
    transition: transform 0.5s, background-color 0.5s;
}

.skills ul {
    width: 60%;
    margin-left: 20%;
    font-size: 20px;
    list-style-position: inside;
}

#skills-l,
#skills-r {
    position: absolute;
    z-index: 2;
    height: 20px;
    width: 20px;
    background-color: transparent;
    top: 50%;
}

#skills-l:hover,
#skills-r:hover {
    cursor: pointer;
}

#skills-l {
    transform: rotate(-45deg);
    left: 5px;
    border-left: 2px solid white;
    border-top: 2px solid white;
}

#skills-r {
    transform: rotate(45deg);
    right: 5px;
    border-right: 2px solid white;
    border-top: 2px solid white;
}

.primary {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
}

.left {
    display: block;
    position: absolute;
    left: 0;
    transform: scale(85%);
}

.right {
    display: block;
    position: absolute;
    right: 0;
    transform: scale(85%);
}

.back {
    position: absolute;
    opacity: 0;
}

.r2p {
    animation: right-to-primary;
    animation-duration: var(--animation-time);
}

.p2l {
    animation: primary-to-left;
    animation-duration: var(--animation-time);
}

.b2r {
    animation: back-to-right;
    animation-duration: var(--animation-time);
}

.l2b {
    animation: left-to-back;
    animation-duration: var(--animation-time);
}

.l2p {
    animation: left-to-primary;
    animation-duration: var(--animation-time);
}

.p2r {
    animation: primary-to-right;
    animation-duration: var(--animation-time);
}

.r2b {
    animation: right-to-back;
    animation-duration: var(--animation-time);
}

.b2l {
    animation: back-to-left;
    animation-duration: var(--animation-time);
}

.primary:hover > .underline {
    transform: translate(42.857%);
    background-color: #145da0;
    transition: transform 0.5s, background-color 0.5s;
}

@keyframes primary-to-left {
    0% {
        left: 50%;
        transform: translate(-50%);
        z-index: 2;
    }

    100% {
        left: 0;
        transform: scale(85%);
        z-index: 1;
    }
}

@keyframes right-to-primary {
    0% {
        right: 0;
        transform: scale(85%);
        z-index: 1;
    }

    100% {
        left: 50%;
        transform: translate(-50%);
        z-index: 2;
    }
}

@keyframes back-to-right {
    0% {
        opacity: 0;
        right: 0;
        transform: scale(85%);
    }

    100% {
        opacity: 1;
        z-index: 1;
        right: 0;
        transform: scale(85%);
    }
}

@keyframes left-to-back {
    0% {
        opacity: 1;
        z-index: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes left-to-primary {
    0% {
        left: 0;
        z-index: 1;
    }

    100% {
        left: 50%;
        transform: translate(-50%);
        z-index: 2;
    }
}

@keyframes primary-to-right {
    0% {
        left: 50%;
        z-index: 2;
        transform: translate(-50%);
    }

    100% {
        right: 0;
        transform: scale(85%);
        z-index: 1;
    }
}

@keyframes right-to-back {
    0% {
        right: 0;
        z-index: 1;
        opacity: 1;
    }

    100% {
        opacity: 0;
        z-index: 0;
    }
}

@keyframes back-to-left {
    0% {
        opacity: 0;
        z-index: 0;
        transform: scale(85%);
    }

    100% {
        left: 0;
        transform: scale(85%);
        z-index: 1;
        opacity: 1;
    }
}

@keyframes move-bar {
    0% {
        left: 0;
    }

    50% {
        transform: translate(42.857%);
        background-color: #145da0;
    }

    100% {
        left: 0;
    }
}

.work-experience-grid {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: min(95%, 800px);
    height: 400px;
}

.work-experience-grid img {
    object-fit: contain;
    max-width: 90%;
    border-radius: 10px;
}

.atrc-container,
.daycamp-container,
.freelance-container {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.work-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 90%;
    background-color: #145da0;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem black;
    z-index: 0;
    transition: transform 0.5s, z-index 0.5s;
}

.atrc {
    z-index: 4;
}

.atrc-info,
.daycamp-info,
.freelance-info {
    position: absolute;
    height: 100%;
    width: 66%;
    border-radius: 10px;
    z-index: 1;
    background-color: #fff;
    box-shadow: -1rem 0 3rem black;
    transition: transform 0.5s;
    left: -110%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.atrc-info h2,
.daycamp-info h2,
.freelance-info h2 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 32px;
    margin-left: 10%;
}

.atrc-info p,
.daycamp-info p,
.freelance-info p {
    margin-left: 10%;
    margin-right: 10%;
}

.atrc-container:hover > .atrc {
    transform: scale(110%);
    transition: transform 0.5s;
    z-index: 5;
}

.daycamp-container:hover > .daycamp {
    transform: scale(110%) translate(-100%);
    transition: transform 0.5s;
    z-index: 5;
}

.freelance-container:hover > .freelance {
    transform: scale(110%) translate(-200%);
    transition: transform 0.5s;
    z-index: 5;
}

.atrc-container:hover > .atrc-info {
    transform: translate(215%);
    transition: transform 0.5s;
}

.daycamp-container:hover > .daycamp-info {
    transform: translate(215%);
    transition: transform 1s;
}

.freelance-container:hover > .freelance-info {
    transform: translate(215%);
    transition: transform 1s;
}

.cover {
    position: absolute;
    left: -150%;
    background-color: #15131d;
    height: 130%;
    width: 160%;
    z-index: 3;
}

.atrc {
    margin-right: 2%;
}

.daycamp {
    margin-right: 2%;
}

.fiverr-background {
    width: 90%;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio {
    height: 1600px;
    background-color: var(--light-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.portfolio h1 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold";
    color: var(--dark-blue);
    font-size: 36px;
    width: min(90%, 800px);
    margin-top: 3rem;
    line-height: 60px;
}

.project {
    width: min(90%, 800px);
    background-color: var(--light-blue);
    height: 400px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.project-label-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.project img {
    object-fit: contain;
    height: 100%;
    margin-top: 9rem;
}

#chessboard {
    height: 150px;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    z-index: 1;
    background-color: var(--light-blue);
}

.vertical-bar {
    position: absolute;
    left: 100px;
    top: 0;
    height: 80px;
    width: 2px;
    background-color: var(--dark-blue);
    transition: height 0.2s;
    transition-delay: 0.5s;
    z-index: 2;
}

.horizontal-bar {
    width: 0;
    height: 2px;
    background-color: var(--dark-blue);
    position: absolute;
    top: 100px;
    left: 100px;
    transition: width 0.5s, left 0.5s;
    z-index: 1;
}

.portfolio-title {
    display: flex;
    align-items: center;
    height: 100px;
    width: calc(80% - 98px);
    padding-left: 50px;
    background-color: var(--light-blue);
    z-index: 1;
}

.portfolio-description {
    position: absolute;
    top: 0;
    width: 80%;
    overflow: hidden;
    transition: transform 0.5s, overflow 0.5s;
    font-size: 16px;
    padding-left: 1rem;
    padding-top: 1rem;
    max-height: 80px;
}

.project-label-container:hover {
    cursor: pointer;
}

.project-label-container:hover > .vertical-bar {
    height: 100px;
    transition: height 0.2s;
}

.project-label-container:hover > .horizontal-bar {
    width: 75%;
    left: 0;
    transition: width 0.5s, left 0.5s;
    transition-delay: 0.2s;
}

.project-label-container:hover > .portfolio-description {
    transform: translateY(100px);
    overflow: visible;
    transition: transform 0.5s, overflow 0.5s;
}

.contact {
    background-color: var(--light-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header-contact {
    width: min(90%, 800px);
}

.header-contact h1 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold";
    color: var(--dark-blue);
    font-size: 36px;
}

.header-contact p {
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}

.contact-form {
    width: min(90%, 800px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#name,
#email {
    width: 50%;
    background-color: white;
    border: none;
    padding: 0.2rem;
    margin-top: 1rem;
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
}

#message {
    width: 50%;
    border: none;
    padding: 0.2rem;
    margin-top: 1rem;
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
}

#submit {
    background-color: var(--dark-blue);
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    padding: 1rem;
    margin-top: 1rem;
    width: 50%;
    border: none;
    border-radius: 0px 10px 0px 10px;
    margin-bottom: 2rem;
}

#submit:hover {
    cursor: pointer;
    background-color: #252133;
}

.socials {
    background-color: var(--dark-blue);
    color: var(--light-blue);
    font-family: "Times New Roman", Times, serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.socials *:hover {
    cursor: pointer;
}

.socials * + * {
    margin-left: 1rem;
}

.socials a {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-decoration: none;
    font-size: 36px;
}

.socials a:visited {
    color: var(--light-blue);
}

@media screen and (min-width: 500px) {
    .header h1,
    .about h1,
    .portfolio h1,
    .contact h1 {
        font-size: 64px;
    }

    .nav-bar * {
        font-size: 24px;
    }

    .project img {
        margin-top: 7rem;
    }
}

@media screen and (min-width: 770px) {
    .portfolio {
        height: 1200px;
    }

    .project {
        width: min(90%, 800px);
        height: 300px;
        margin-bottom: 50px;
        flex-direction: row;
    }

    .project-label-container {
        width: min(90%, 800px);
        display: flex;
        flex-direction: row;
    }

    .project img {
        margin-top: 0rem;
    }

    .portfolio-description {
        width: 70%;
    }
}

@media screen and (min-width: 1000px) {
    .header {
        flex-direction: row;
    }

    .header h1 {
        padding-left: 50px;
    }
    .nav-bar {
        position: absolute;
        right: 50px;
    }
}
